In [1]:
spark

In [2]:
sc

### READ CSV

In [26]:
# stock_df = spark.read.csv('hdfs://devenv/user/datasets/data/stocks.csv',
#                          header=True,
#                          schema='symbol string,day date,open float,\
#                          high float,low float,close float,volumn long,adj_close float')
stock_df = spark.read.csv('hdfs://devenv/user/datasets/data/stocks.csv',
                         header=True,
                         inferSchema=True)#自動判斷型別

In [27]:
stock_df.printSchema()

root
 |-- symbol: string (nullable = true)
 |-- day: string (nullable = true)
 |-- open: double (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- close: double (nullable = true)
 |-- volumn: integer (nullable = true)
 |-- adj_close: double (nullable = true)

In [16]:
stock_df.createOrReplaceTempView("stocks")

In [17]:
stock_df.show()

+------+----------+------+------+------+------+--------+---------+
|symbol|       day|  open|  high|   low| close|  volumn|adj_close|
+------+----------+------+------+------+------+--------+---------+
|  AAPL|2009-01-02| 85.88| 91.04| 85.16| 90.75|26643400|    90.75|
|  AAPL|2008-01-02|199.27|200.26|192.55|194.84|38542100|   194.84|
|  AAPL|2007-01-03| 86.29| 86.58|  81.9|  83.8|44225700|     83.8|
|  AAPL|2006-01-03| 72.38| 74.75| 72.25| 74.75|28829800|    74.75|
|  AAPL|2005-01-03| 64.78| 65.11|  62.6| 63.29|24714000|    31.65|
|  AAPL|2004-01-02| 21.55| 21.75| 21.18| 21.28| 5165800|    10.64|
|  AAPL|2003-01-02| 14.36| 14.92| 14.35|  14.8| 6479600|      7.4|
|  AAPL|2002-01-02| 22.05|  23.3| 21.96|  23.3|18910600|    11.65|
|  AAPL|2001-01-02| 14.88| 15.25| 14.56| 14.88|16161800|     7.44|
|  AAPL|2000-01-03|104.87| 112.5|101.69|111.94|19144400|    27.99|
|  CSCO|2009-01-02| 16.41|  17.0| 16.25| 16.96|40980600|    16.96|
|  CSCO|2008-01-02|  27.0|  27.3| 26.21| 26.54|64338900|    26.54|
|  CSCO|2007-01-03| 27.46| 27.98| 27.33| 27.73|64226000|    27.73|
|  CSCO|2006-01-03| 17.21| 17.49| 17.18| 17.45|55426000|    17.45|
|  CSCO|2005-01-03| 19.42| 19.61| 19.27| 19.32|56725600|    19.32|
|  CSCO|2004-01-02| 24.36| 24.53| 24.16| 24.25|29955800|    24.25|
|  CSCO|2003-01-02| 13.11| 13.69| 13.09| 13.64|61335700|    13.64|
|  CSCO|2002-01-02| 18.44|  19.3| 18.26| 19.23|55376900|    19.23|
|  CSCO|2001-01-02| 38.13|  38.5| 32.63| 33.31|17384600|    33.31|
|  CSCO|2000-01-03|109.94|110.25|103.56|108.06|53076000|    54.03|
+------+----------+------+------+------+------+--------+---------+
only showing top 20 rows

In [18]:
result_df = spark.sql("""select symbol, avg(open) as avg_open, avg(close) as avg_close, count(1) as rec_count FROM stocks group by symbol""")
result_df.show()

+------+------------------+------------------+---------+
|symbol|          avg_open|         avg_close|rec_count|
+------+------------------+------------------+---------+
|  AAPL| 68.63099994659424| 69.36300029754639|       10|
|  CSCO|31.148000240325928|30.648999881744384|       10|
|  YHOO| 69.33300113677979| 72.60900020599365|       10|
|  GOOG| 417.4779968261719| 422.4080047607422|        5|
|  MSFT| 44.63100051879883| 44.71400032043457|       10|
+------+------------------+------------------+---------+

In [19]:
# result_df.write.csv('hdfs://devenv/user/stock_analysis')
# result_df.write.json('hdfs://devenv/user/stock_analysis')

In [20]:
result_df.toPandas()

  symbol    avg_open   avg_close  rec_count
0   AAPL   68.631000   69.363000         10
1   CSCO   31.148000   30.649000         10
2   YHOO   69.333001   72.609000         10
3   GOOG  417.477997  422.408005          5
4   MSFT   44.631001   44.714000         10

In [25]:
# result_df.show()
# result_df.collect()
result_df.collect()[0]

Row(symbol='AAPL', avg_open=68.63099994659424, avg_close=69.36300029754639, rec_count=10)

### READ JSON

In [37]:
# stock_df = spark.read.json('hdfs://devenv/user/datasets/data/stocks.json',
#                          schema='symbol string,day date,open float,\
#                          high float,low float,close float,volumn long,adj_close float')
stock_df = spark.read.json('hdfs://devenv/user/datasets/data/stocks.json')

In [38]:
stock_df.printSchema()

root
 |-- adj_close: double (nullable = true)
 |-- close: double (nullable = true)
 |-- date: string (nullable = true)
 |-- high: double (nullable = true)
 |-- low: double (nullable = true)
 |-- open: double (nullable = true)
 |-- symbol: string (nullable = true)
 |-- volume: long (nullable = true)

In [36]:
stock_df.createOrReplaceTempView("stocks")
result_df = spark.sql("""select symbol, avg(open) as avg_open, avg(close) as avg_close, count(1) as rec_count FROM stocks group by symbol""")
result_df.show()

+------+------------------+------------------+---------+
|symbol|          avg_open|         avg_close|rec_count|
+------+------------------+------------------+---------+
|  AAPL| 68.63099994659424| 69.36300029754639|       10|
|  CSCO|31.148000240325928|30.648999881744384|       10|
|  YHOO| 69.33300113677979| 72.60900020599365|       10|
|  GOOG| 417.4779968261719| 422.4080047607422|        5|
|  MSFT| 44.63100051879883| 44.71400032043457|       10|
+------+------------------+------------------+---------+

In [ ]:
result_df.write.parquet('hdfs://devenv/user/stock_analysis')